In [55]:
# Loading important libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy

from sklearn.model_selection import train_test_split, cross_val_score 
from sklearn.metrics import accuracy_score, f1_score, classification_report
from sklearn.metrics import roc_curve, auc, roc_auc_score

from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler

In [8]:
#loading training dataset 
df = pd.read_csv('scaled_datatrainingcopy.csv')
df.head()

,Temperature,Humidity,Light,CO2,HumidityRatio,Week_day,Occupancy
0,2.518470,0.278526,1.573763,0.364948,1.091757,1,1
1,2.488967,0.277713,1.591735,0.341881,1.080555,1,1
2,2.488967,0.273645,1.573763,0.340290,1.075889,1,1
3,2.488967,0.265508,1.573763,0.323587,1.066555,1,1
4,2.439796,0.265508,1.573763,0.311655,1.049523,1,1

In [9]:
#loading datatest 1
df_test1 = pd.read_csv('scaled_datatestcopy.csv')
df_test1.head()

,Temperature,Humidity,Light,CO2,HumidityRatio,Week_day,Occupancy
0,2.204762,0.376814,1.566862,0.106940,1.207540,1,1
1,2.222275,0.384202,1.539680,0.145214,1.221461,1,1
2,2.233950,0.359575,1.516762,0.176881,1.209162,1,1
3,2.226653,0.316478,1.201302,0.194253,1.174139,1,1
4,2.257300,0.347262,1.180715,0.208776,1.211522,1,1

In [10]:
#loading datatest 2
df_test2 = pd.read_csv('scaled_datatest2copy.csv')
df_test2.head()

,Temperature,Humidity,Light,CO2,HumidityRatio,Week_day,Occupancy
0,0.742897,0.314074,1.509363,0.930527,0.814063,1,1
1,0.772291,0.280342,1.509363,0.830667,0.790653,1,1
2,0.750246,0.311334,1.493354,0.843289,0.815114,1,1
3,0.750246,0.311334,1.517368,0.862644,0.815114,1,1
4,0.772291,0.314074,1.509363,0.849741,0.831554,1,1

In [11]:
class_name = "Occupancy" #we want to predict

In [31]:
attributes = [col for col in df.columns if col != class_name]
X = df[attributes].values
y = df[class_name]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=100, stratify=y)

In [13]:
#preparing test data for model

class_name = "Occupancy"

attributes = [col for col in df.columns if col != class_name]
X_test1 = df_test1[attributes].values
y_test1 = df_test1[class_name]

In [14]:
class_name = "Occupancy"

attributes = [col for col in df.columns if col != class_name]
X_test2 = df_test2[attributes].values
y_test2 = df_test2[class_name]

In [37]:
from sklearn.naive_bayes import GaussianNB, CategoricalNB

# GAUSSIANA

In [77]:
clf = GaussianNB()
clf.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [56]:
X_train

array([[-0.54326085, -0.26062933, -0.61372607, -0.52671146, -0.40019958,
         0.        ],
       [-0.90385015, -1.14656568, -0.61372607, -0.51716649, -1.31183887,
         0.        ],
       [-1.10053522,  0.34686988, -0.61372607, -0.48534992,  0.011391  ,
         0.        ],
       ...,
       [ 1.71697841, -1.50817236,  0.03584517, -0.52671146, -1.12921674,
         0.        ],
       [ 0.40738365, -1.12065054, -0.61372607, -0.40474792, -1.00809678,
         1.        ],
       [-0.32362919,  1.30814096, -0.61372607, -0.3962635 ,  1.16585923,
         1.        ]])

In [19]:
y_pred = clf.predict(X_test)

# RISULTATI DATATRAINING

In [20]:
print('Accuracy %s' % accuracy_score(y_test, y_pred))
print('F1-score %s' % f1_score(y_test, y_pred, average=None))
print(classification_report(y_test, y_pred))

Accuracy 0.9905853458862055
F1-score [0.99399007 0.9782814 ]
              precision    recall  f1-score   support

           0       1.00      0.99      0.99      1924
           1       0.96      1.00      0.98       519

    accuracy                           0.99      2443
   macro avg       0.98      0.99      0.99      2443
weighted avg       0.99      0.99      0.99      2443

In [21]:
clf = GaussianNB()
clf.fit(X_test1, y_test1)

GaussianNB(priors=None, var_smoothing=1e-09)

In [22]:
y_pred = clf.predict(X_test1)

# RISULTATI TESTSET 1

In [23]:
print('Accuracy %s' % accuracy_score(y_test1, y_pred))
print('F1-score %s' % f1_score(y_test1, y_pred, average=None))
print(classification_report(y_test1, y_pred))

Accuracy 0.9549718574108818
F1-score [0.9634592  0.94134897]
              precision    recall  f1-score   support

           0       0.99      0.93      0.96      1693
           1       0.90      0.99      0.94       972

    accuracy                           0.95      2665
   macro avg       0.95      0.96      0.95      2665
weighted avg       0.96      0.95      0.96      2665

In [24]:
clf = GaussianNB()
clf.fit(X_test2, y_test2)

GaussianNB(priors=None, var_smoothing=1e-09)

In [25]:
y_pred = clf.predict(X_test2)

# RISULTATI TESTSET 2

In [26]:
print('Accuracy %s' % accuracy_score(y_test2, y_pred))
print('F1-score %s' % f1_score(y_test2, y_pred, average=None))
print(classification_report(y_test2, y_pred))

Accuracy 0.9360131255127153
F1-score [0.95779221 0.86779661]
              precision    recall  f1-score   support

           0       1.00      0.92      0.96      7703
           1       0.77      1.00      0.87      2049

    accuracy                           0.94      9752
   macro avg       0.88      0.96      0.91      9752
weighted avg       0.95      0.94      0.94      9752

# CATEGORICALNB

In [84]:
attributes = [col for col in df.columns if col != class_name]
X = abs(df[attributes].values) # fatto questo 
y = df[class_name]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=100, stratify=y)

In [85]:
abs(X_train)

array([[0.54326085, 0.26062933, 0.61372607, 0.52671146, 0.40019958,
        0.        ],
       [0.90385015, 1.14656568, 0.61372607, 0.51716649, 1.31183887,
        0.        ],
       [1.10053522, 0.34686988, 0.61372607, 0.48534992, 0.011391  ,
        0.        ],
       ...,
       [1.71697841, 1.50817236, 0.03584517, 0.52671146, 1.12921674,
        0.        ],
       [0.40738365, 1.12065054, 0.61372607, 0.40474792, 1.00809678,
        1.        ],
       [0.32362919, 1.30814096, 0.61372607, 0.3962635 , 1.16585923,
        1.        ]])

In [86]:
y_train

4425    0
3639    0
6029    0
306     0
104     0
       ..
7521    0
2163    0
4119    0
1615    0
7631    0
Name: Occupancy, Length: 5700, dtype: int64

In [87]:
clf = CategoricalNB()
clf.fit(X_train, y_train)

CategoricalNB(alpha=1.0, class_prior=None, fit_prior=True)

In [88]:
y_pred = clf.predict(X_test)

# RISULTATI DATATRAINING

In [89]:
print('Accuracy %s' % accuracy_score(y_test, y_pred))
print('F1-score %s' % f1_score(y_test, y_pred, average=None))
print(classification_report(y_test, y_pred))

Accuracy 0.9860826852230864
F1-score [0.99109481 0.96816479]
              precision    recall  f1-score   support

           0       1.00      0.98      0.99      1924
           1       0.94      1.00      0.97       519

    accuracy                           0.99      2443
   macro avg       0.97      0.99      0.98      2443
weighted avg       0.99      0.99      0.99      2443

In [90]:
#preparing test data for model

class_name = "Occupancy"

attributes = [col for col in df.columns if col != class_name]
X_test1 = abs(df_test1[attributes].values)
y_test1 = df_test1[class_name]

In [91]:
clf = GaussianNB()
clf.fit(X_test1, y_test1)

GaussianNB(priors=None, var_smoothing=1e-09)

In [92]:
y_pred = clf.predict(X_test1)

# RISULTATI TESTSET1

In [94]:
print('Accuracy %s' % accuracy_score(y_test1, y_pred))
print('F1-score %s' % f1_score(y_test1, y_pred, average=None))
print(classification_report(y_test1, y_pred))

Accuracy 0.8821763602251407
F1-score [0.91243726 0.81995413]
              precision    recall  f1-score   support

           0       0.86      0.97      0.91      1693
           1       0.93      0.74      0.82       972

    accuracy                           0.88      2665
   macro avg       0.90      0.85      0.87      2665
weighted avg       0.89      0.88      0.88      2665

In [95]:
class_name = "Occupancy"

attributes = [col for col in df.columns if col != class_name]
X_test2 = abs(df_test2[attributes].values)
y_test2 = df_test2[class_name]

In [96]:
clf = GaussianNB()
clf.fit(X_test2, y_test2)

GaussianNB(priors=None, var_smoothing=1e-09)

In [97]:
y_pred = clf.predict(X_test2)

# RISULTATI TESTSET2

In [98]:
print('Accuracy %s' % accuracy_score(y_test2, y_pred))
print('F1-score %s' % f1_score(y_test2, y_pred, average=None))
print(classification_report(y_test2, y_pred))

Accuracy 0.5054347826086957
F1-score [0.54426911 0.45936554]
              precision    recall  f1-score   support

           0       1.00      0.37      0.54      7703
           1       0.30      1.00      0.46      2049

    accuracy                           0.51      9752
   macro avg       0.65      0.69      0.50      9752
weighted avg       0.85      0.51      0.53      9752