In [3]:
# Loading important libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split, cross_val_score 
from sklearn.metrics import accuracy_score, f1_score, classification_report
from sklearn.metrics import roc_curve, auc, roc_auc_score

# Load training set

In [4]:
df = pd.read_csv('preprocessdatatrainingcopy.csv')
df.head()

   Temperature  Humidity  Light     CO2  HumidityRatio  Occupancy  Week_day
0        23.18   27.2720  426.0  721.25       0.004793          1         1
1        23.15   27.2675  429.5  714.00       0.004783          1         1
2        23.15   27.2450  426.0  713.50       0.004779          1         1
3        23.15   27.2000  426.0  708.25       0.004772          1         1
4        23.10   27.2000  426.0  704.50       0.004757          1         1

# Loading the two test datasets

In [5]:
df_test1 = pd.read_csv('preprocessdatatestcopy.csv')
df_test1.head()

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy,Week_day
0,23.7000,26.272,585.200000,749.200000,0.004764,1,1
1,23.7180,26.290,578.400000,760.400000,0.004773,1,1
2,23.7300,26.230,572.666667,769.666667,0.004765,1,1
3,23.7225,26.125,493.750000,774.750000,0.004744,1,1
4,23.7540,26.200,488.600000,779.000000,0.004767,1,1

In [6]:
df_test2 = pd.read_csv('preprocessdatatest2copy.csv')
df_test2.head()

,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy,Week_day
0,21.7600,31.133333,437.333333,1029.666667,0.005021,1,1
1,21.7900,31.000000,437.333333,1000.000000,0.005009,1,1
2,21.7675,31.122500,434.000000,1003.750000,0.005022,1,1
3,21.7675,31.122500,439.000000,1009.500000,0.005022,1,1
4,21.7900,31.133333,437.333333,1005.666667,0.005030,1,1

## Dividing the training data

In [7]:
class_name = "Occupancy"
attributes = [col for col in df.columns if col != class_name]
X = df[attributes].values
y = df[class_name]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=100, stratify=y)

# preparing test data for model

In [8]:
class_name = "Occupancy"

attributes = [col for col in df.columns if col != class_name]
X_test1 = df_test1[attributes].values
y_test1 = df_test1[class_name]

In [9]:
class_name = "Occupancy"

attributes = [col for col in df.columns if col != class_name]
X_test2 = df_test2[attributes].values
y_test2 = df_test2[class_name]

# Naive Bayes

In [10]:
from sklearn.naive_bayes import GaussianNB, CategoricalNB

# TrainingSet

In [11]:
clf = GaussianNB()
clf.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [12]:
y_pred = clf.predict(X_test)

# risultati training set con Gaussiana

In [13]:
print('Accuracy %s' % accuracy_score(y_test, y_pred))
print('F1-score %s' % f1_score(y_test, y_pred, average=None))
print(classification_report(y_test, y_pred))

Accuracy 0.9901760130986492
F1-score [0.99373041 0.97731569]
              precision    recall  f1-score   support

           0       1.00      0.99      0.99      1924
           1       0.96      1.00      0.98       519

    accuracy                           0.99      2443
   macro avg       0.98      0.99      0.99      2443
weighted avg       0.99      0.99      0.99      2443

In [14]:
clf = CategoricalNB()
clf.fit(X_train, y_train)

CategoricalNB(alpha=1.0, class_prior=None, fit_prior=True)

In [15]:
y_pred = clf.predict(X_test)

# risultati training set con Categorical

In [16]:
print('Accuracy %s' % accuracy_score(y_test, y_pred))
print('F1-score %s' % f1_score(y_test, y_pred, average=None))
print(classification_report(y_test, y_pred))

Accuracy 0.9815800245599673
F1-score [0.9882782  0.95702006]
              precision    recall  f1-score   support

           0       0.99      0.99      0.99      1924
           1       0.95      0.97      0.96       519

    accuracy                           0.98      2443
   macro avg       0.97      0.98      0.97      2443
weighted avg       0.98      0.98      0.98      2443

In [17]:
clf = GaussianNB()
clf.fit(X_test1, y_test1)

GaussianNB(priors=None, var_smoothing=1e-09)

In [18]:
y_pred = clf.predict(X_test1)

# Risultati dataset1 con Gaussiana

In [19]:
print('Accuracy %s' % accuracy_score(y_test1, y_pred))
print('F1-score %s' % f1_score(y_test1, y_pred, average=None))
print(classification_report(y_test1, y_pred))

Accuracy 0.9632270168855535
F1-score [0.97023086 0.95191364]
              precision    recall  f1-score   support

           0       1.00      0.94      0.97      1693
           1       0.91      1.00      0.95       972

    accuracy                           0.96      2665
   macro avg       0.95      0.97      0.96      2665
weighted avg       0.97      0.96      0.96      2665

In [20]:
clf = CategoricalNB()
clf.fit(X_test1, y_test1)

CategoricalNB(alpha=1.0, class_prior=None, fit_prior=True)

In [21]:
y_pred = clf.predict(X_test1)

# Risultati dataset1 con Categorical

In [22]:
print('Accuracy %s' % accuracy_score(y_test1, y_pred))
print('F1-score %s' % f1_score(y_test1, y_pred, average=None))
print(classification_report(y_test1, y_pred))

Accuracy 0.9444652908067542
F1-score [0.95652174 0.9231568 ]
              precision    recall  f1-score   support

           0       0.95      0.96      0.96      1693
           1       0.93      0.91      0.92       972

    accuracy                           0.94      2665
   macro avg       0.94      0.94      0.94      2665
weighted avg       0.94      0.94      0.94      2665

In [23]:
clf = GaussianNB()
clf.fit(X_test2, y_test2)

GaussianNB(priors=None, var_smoothing=1e-09)

In [24]:
y_pred = clf.predict(X_test2)

# Risultati dataset2 con Gaussiana

In [25]:
print('Accuracy %s' % accuracy_score(y_test2, y_pred))
print('F1-score %s' % f1_score(y_test2, y_pred, average=None))
print(classification_report(y_test2, y_pred))

Accuracy 0.9696472518457753
F1-score [0.9804181 0.9325433]
              precision    recall  f1-score   support

           0       1.00      0.96      0.98      7703
           1       0.87      1.00      0.93      2049

    accuracy                           0.97      9752
   macro avg       0.94      0.98      0.96      9752
weighted avg       0.97      0.97      0.97      9752

In [26]:
clf = CategoricalNB()
clf.fit(X_test2, y_test2)

CategoricalNB(alpha=1.0, class_prior=None, fit_prior=True)

In [27]:
y_pred = clf.predict(X_test2)

# Risultati dataset2 con Categorical

In [28]:
print('Accuracy %s' % accuracy_score(y_test2, y_pred))
print('F1-score %s' % f1_score(y_test2, y_pred, average=None))
print(classification_report(y_test2, y_pred))

Accuracy 0.9856439704675964
F1-score [0.99088067 0.96628131]
              precision    recall  f1-score   support

           0       0.99      0.99      0.99      7703
           1       0.95      0.98      0.97      2049

    accuracy                           0.99      9752
   macro avg       0.97      0.98      0.98      9752
weighted avg       0.99      0.99      0.99      9752

In [29]:
from scikitplot.metrics import plot_roc
from scikitplot.metrics import plot_precision_recall
from scikitplot.metrics import plot_cumulative_gain
from scikitplot.metrics import plot_lift_curve

In [31]:

plot_lift_curve(y_test, y_score)
plt.show()
y_score = clf.predict_proba(X_test)
fpr0, tpr0, _ = roc_curve(y_test, y_score[:, 1])
roc_auc0 = auc(fpr0, tpr0)
plt.plot(fpr0, tpr0, color='darkorange', lw=3, label='$AUC_0$ = %.3f' % (roc_auc0))

plt.plot([0, 1], [0, 1], color='navy', lw=2, linestyle='--')
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.05])
plt.xlabel('False Positive Rate', fontsize=16)
plt.ylabel('True Positive Rate', fontsize=16)
plt.title('ROC curve', fontsize=16)
plt.legend(loc="lower right", fontsize=14, frameon=False)
plt.tick_params(axis='both', which='major', labelsize=16)
plt.show()

NameError: name 'y_score' is not defined

# PROVE

provare altra tecnica che ci da il professore. Capire cosa sia  df[numeric_columns].head()