In [2]:
# Loading important libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy

from sklearn.model_selection import train_test_split, cross_val_score 
from sklearn.metrics import accuracy_score, f1_score, classification_report
from sklearn.metrics import roc_curve, auc, roc_auc_score

from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler

In [39]:
#loading training dataset 
df = pd.read_csv('procced_datatrainingcopy.csv')
df.head()

,Unnamed: 0,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy,Week_day
0,0,23.18,27.2720,426.0,721.25,0.004793,1,1
1,1,23.15,27.2675,429.5,714.00,0.004783,1,1
2,2,23.15,27.2450,426.0,713.50,0.004779,1,1
3,3,23.15,27.2000,426.0,708.25,0.004772,1,1
4,4,23.10,27.2000,426.0,704.50,0.004757,1,1

In [36]:
#loading datatest 1
df_test1 = pd.read_csv('datatestcopy.csv')
df_test1.head()

,number,date,Temperature,Humidity,light,CO2,HumidityRatio,Occupancy
0,140,2/2/15 14:19,23.7000,26.272,585.200000,749.200000,0.004764,1
1,141,2/2/15 14:19,23.7180,26.290,578.400000,760.400000,0.004773,1
2,142,2/2/15 14:21,23.7300,26.230,572.666667,769.666667,0.004765,1
3,143,2/2/15 14:22,23.7225,26.125,493.750000,774.750000,0.004744,1
4,144,2/2/15 14:23,23.7540,26.200,488.600000,779.000000,0.004767,1

In [37]:
#loading datatest 2
df_test2 = pd.read_csv('datatest2copy.csv')
df_test2.head()

,Number,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
0,1,2/11/15 14:48,21.7600,31.133333,437.333333,1029.666667,0.005021,1
1,2,2/11/15 14:49,21.7900,31.000000,437.333333,1000.000000,0.005009,1
2,3,2/11/15 14:50,21.7675,31.122500,434.000000,1003.750000,0.005022,1
3,4,2/11/15 14:51,21.7675,31.122500,439.000000,1009.500000,0.005022,1
4,5,2/11/15 14:51,21.7900,31.133333,437.333333,1005.666667,0.005030,1

In [40]:
class_name = "Occupancy" #we want to predict

In [41]:
attributes = [col for col in df.columns if col != class_name]
X = df[attributes].values
y = df[class_name]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=100, stratify=y)

In [8]:
#preparing test data for model

class_name = "Occupancy"

attributes = [col for col in df.columns if col != class_name]
X_test1 = df_test1[attributes].values
y_test1 = df_test1[class_name]

In [9]:
class_name = "Occupancy"

attributes = [col for col in df.columns if col != class_name]
X_test2 = df_test2[attributes].values
y_test2 = df_test2[class_name]

In [10]:
from sklearn.naive_bayes import GaussianNB, CategoricalNB

# GAUSSIANA

In [42]:
clf = GaussianNB()
clf.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [43]:
X_train

array([[4.42500000e+03, 2.00666667e+01, 2.42900000e+01, ...,
        4.41000000e+02, 3.52142500e-03, 0.00000000e+00],
       [3.63900000e+03, 1.97000000e+01, 1.93900000e+01, ...,
        4.44000000e+02, 2.74445400e-03, 0.00000000e+00],
       [6.02900000e+03, 1.95000000e+01, 2.76500000e+01, ...,
        4.54000000e+02, 3.87221500e-03, 0.00000000e+00],
       ...,
       [4.11900000e+03, 2.23650000e+01, 1.73900000e+01, ...,
        4.41000000e+02, 2.90009900e-03, 0.00000000e+00],
       [1.61500000e+03, 2.10333333e+01, 1.95333333e+01, ...,
        4.79333333e+02, 3.00332700e-03, 1.00000000e+00],
       [7.63100000e+03, 2.02900000e+01, 3.29666667e+01, ...,
        4.82000000e+02, 4.85614400e-03, 1.00000000e+00]])

In [44]:
y_pred = clf.predict(X_test)

# RISULTATI DATATRAINING

In [45]:
print('Accuracy %s' % accuracy_score(y_test, y_pred))
print('F1-score %s' % f1_score(y_test, y_pred, average=None))
print(classification_report(y_test, y_pred))

Accuracy 0.9901760130986492
F1-score [0.99373041 0.97731569]
              precision    recall  f1-score   support

           0       1.00      0.99      0.99      1924
           1       0.96      1.00      0.98       519

    accuracy                           0.99      2443
   macro avg       0.98      0.99      0.99      2443
weighted avg       0.99      0.99      0.99      2443

In [15]:
clf = GaussianNB()
clf.fit(X_test1, y_test1)

GaussianNB(priors=None, var_smoothing=1e-09)

In [16]:
y_pred = clf.predict(X_test1)

# RISULTATI TESTSET 1

In [17]:
print('Accuracy %s' % accuracy_score(y_test1, y_pred))
print('F1-score %s' % f1_score(y_test1, y_pred, average=None))
print(classification_report(y_test1, y_pred))

Accuracy 0.9549718574108818
F1-score [0.9634592  0.94134897]
              precision    recall  f1-score   support

           0       0.99      0.93      0.96      1693
           1       0.90      0.99      0.94       972

    accuracy                           0.95      2665
   macro avg       0.95      0.96      0.95      2665
weighted avg       0.96      0.95      0.96      2665

In [18]:
clf = GaussianNB()
clf.fit(X_test2, y_test2)

GaussianNB(priors=None, var_smoothing=1e-09)

In [19]:
y_pred = clf.predict(X_test2)

# RISULTATI TESTSET 2

In [20]:
print('Accuracy %s' % accuracy_score(y_test2, y_pred))
print('F1-score %s' % f1_score(y_test2, y_pred, average=None))
print(classification_report(y_test2, y_pred))

Accuracy 0.9360131255127153
F1-score [0.95779221 0.86779661]
              precision    recall  f1-score   support

           0       1.00      0.92      0.96      7703
           1       0.77      1.00      0.87      2049

    accuracy                           0.94      9752
   macro avg       0.88      0.96      0.91      9752
weighted avg       0.95      0.94      0.94      9752

# CATEGORICALNB

In [47]:
attributes = [col for col in df.columns if col != class_name]
X = df[attributes].values # fatto questo 
y = df[class_name]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=100, stratify=y)

In [48]:
X_train

array([[4.42500000e+03, 2.00666667e+01, 2.42900000e+01, ...,
        4.41000000e+02, 3.52142500e-03, 0.00000000e+00],
       [3.63900000e+03, 1.97000000e+01, 1.93900000e+01, ...,
        4.44000000e+02, 2.74445400e-03, 0.00000000e+00],
       [6.02900000e+03, 1.95000000e+01, 2.76500000e+01, ...,
        4.54000000e+02, 3.87221500e-03, 0.00000000e+00],
       ...,
       [4.11900000e+03, 2.23650000e+01, 1.73900000e+01, ...,
        4.41000000e+02, 2.90009900e-03, 0.00000000e+00],
       [1.61500000e+03, 2.10333333e+01, 1.95333333e+01, ...,
        4.79333333e+02, 3.00332700e-03, 1.00000000e+00],
       [7.63100000e+03, 2.02900000e+01, 3.29666667e+01, ...,
        4.82000000e+02, 4.85614400e-03, 1.00000000e+00]])

In [49]:
y_train

4425    0
3639    0
6029    0
306     0
104     0
       ..
7521    0
2163    0
4119    0
1615    0
7631    0
Name: Occupancy, Length: 5700, dtype: int64

In [50]:
clf = CategoricalNB()
clf.fit(X_train, y_train)

CategoricalNB(alpha=1.0, class_prior=None, fit_prior=True)

In [51]:
y_pred = clf.predict(X_test)

# RISULTATI DATATRAINING

In [52]:
print('Accuracy %s' % accuracy_score(y_test, y_pred))
print('F1-score %s' % f1_score(y_test, y_pred, average=None))
print(classification_report(y_test, y_pred))

Accuracy 0.9823986901350799
F1-score [0.98879333 0.95900858]
              precision    recall  f1-score   support

           0       0.99      0.99      0.99      1924
           1       0.95      0.97      0.96       519

    accuracy                           0.98      2443
   macro avg       0.97      0.98      0.97      2443
weighted avg       0.98      0.98      0.98      2443

In [27]:
#preparing test data for model

class_name = "Occupancy"

attributes = [col for col in df.columns if col != class_name]
X_test1 = abs(df_test1[attributes].values)
y_test1 = df_test1[class_name]

In [28]:
clf = CategoricalNB()
clf.fit(X_test1, y_test1)

CategoricalNB(alpha=1.0, class_prior=None, fit_prior=True)

In [29]:
y_pred = clf.predict(X_test1)

# RISULTATI TESTSET1

In [30]:
print('Accuracy %s' % accuracy_score(y_test1, y_pred))
print('F1-score %s' % f1_score(y_test1, y_pred, average=None))
print(classification_report(y_test1, y_pred))

Accuracy 0.9121951219512195
F1-score [0.93438026 0.86734694]
              precision    recall  f1-score   support

           0       0.89      0.98      0.93      1693
           1       0.97      0.79      0.87       972

    accuracy                           0.91      2665
   macro avg       0.93      0.89      0.90      2665
weighted avg       0.92      0.91      0.91      2665

In [31]:
class_name = "Occupancy"

attributes = [col for col in df.columns if col != class_name]
X_test2 = abs(df_test2[attributes].values)
y_test2 = df_test2[class_name]

In [32]:
clf = CategoricalNB()
clf.fit(X_test2, y_test2)

CategoricalNB(alpha=1.0, class_prior=None, fit_prior=True)

In [33]:
y_pred = clf.predict(X_test2)

# RISULTATI TESTSET2

In [34]:
print('Accuracy %s' % accuracy_score(y_test2, y_pred))
print('F1-score %s' % f1_score(y_test2, y_pred, average=None))
print(classification_report(y_test2, y_pred))

Accuracy 0.9942575881870386
F1-score [0.99635701 0.98644724]
              precision    recall  f1-score   support

           0       1.00      0.99      1.00      7703
           1       0.98      0.99      0.99      2049

    accuracy                           0.99      9752
   macro avg       0.99      0.99      0.99      9752
weighted avg       0.99      0.99      0.99      9752